body {
  margin-top: 1em;
  margin-bottom: 2em;
}
.h-space {
  margin-bottom: 1em;
}
.choices > .selected {
  background: grey;
}

.running {
  visibility: hidden;
}

.controls > .selected {
  background: grey;
}
